html {
  scroll-behavior: smooth;
}

.button {
  transition: all 0.5s;
  cursor: pointer;
}

.button :hover{
  opacity: 0.6;
}

header {
  background: #ffffff;
  display: flex;
  align-items: center;
}

header h1 {
  color: #F570A7;
  text-shadow: 0px 4px 4px #aaaaaa;
}

nav {
  margin: 0 0 0 auto;
}

nav ul {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
}

nav li {
  margin-left: auto;
}

.page-top {
  transition: all 0.3s;
}

.page-top :hover{
  opacity: 0.5;
}

.contact {
  background-image: url(/images/contact-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* pc */
@media(min-width: 993px) {
  .header-campaign-1 {
    margin: 160px 0;
  }

  .header-campaign-2 {
    margin-bottom: 160px;
  }

  .header-button {
    margin-bottom: 160px;
  }
}

/* tab */
@media(max-width:992px) {
  .header-campaign-1 {
    margin: 80px 0;
    width: 75%;
  }

  .header-campaign-2 {
    margin-bottom: 80px;
    width: 75%;
  }

  .header-button {
    margin-bottom: 80px;
  }
}

/* sp */
@media(max-width:576px) {
  .header-campaign-1 {
    margin: 24px 0;
    width: 75%;
  }

  .header-campaign-2 {
    margin-bottom: 24px;
    width: 75%;
  }

  .header-button {
    margin-bottom: 24px;
  }
}