html {
  scroll-behavior: smooth;
}

.button {
  transition: all 0.5s;
  cursor: pointer;
}

.button :hover{
  opacity: 0.6;
}

header {
  background: #ffffff;
  display: flex;
  align-items: center;
}

header h1 {
  color: #F570A7;
  text-shadow: 0px 4px 4px #aaaaaa;
}

nav {
  margin: 0 0 0 auto;
}

nav ul {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
}

nav li {
  margin-left: auto;
}

.page-top {
  transition: all 0.3s;
}

.page-top :hover{
  opacity: 0.5;
}

.chosen-reason {
  background: url(/images/chosen-reason-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.q-and-a {
  background-image: url(/images/q-and-a-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* 
 * Q&Aの開閉
 */
details summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details[open] summary {
  opacity: 0.3;
  cursor: pointer;
}

/* 
 * レスポンシブ対応
 */

/* pc */
@media(min-width: 993px) {
  .header-campaign-1 {
    margin: 160px 0;
  }

  .header-campaign-2 {
    margin-bottom: 160px;
  }

  .header-button {
    margin-bottom: 160px;
  }

  .chosen-reason-title {
    margin-top: 320px;
  }

  .chosen-reason-button {
    margin: 80px 0 320px 0;
  }

  .cheap-plan-title {
    margin: 160px 0 80px 0;
  }

  .price-list-title {
    margin: 130px 0 80px 0;
  }

  .price-list-content {
    margin-bottom: 60px;
  }

  .parts-list-title {
    margin: 130px 0 80px 0;
  }

  .parts-list {
    margin-bottom: 60px;
  }

  .flow-sheet-title {
    margin: 100px 0 80px 0;
  }

  .flow-sheet {
    margin-bottom: 160px;
  }

  .counseling-title {
    margin-bottom: 80px;
  }

  .counseling {
    margin-bottom: 160px;
  }

  .counseling-button {
    margin-bottom: 80px;
  }

  .q-and-a {
    padding-bottom: 280px;
  }

  .q-and-a-title {
    margin: 180px 0 40px 0;
  }

  .q-and-a-content {
    margin: 20px 0;
  }

  .contact-title {
    margin: 80px 0 80px 0;
  }

  .contact-content {
    margin-bottom: 160px;
  }

  .contact-button {
    margin-bottom: 120px;
  }

  .page-top {
    margin-bottom: 120px;
  }
}

/* tab */
@media(max-width:992px) {
  .header-campaign-1 {
    margin: 80px 0;
    width: 75%;
  }

  .header-campaign-2 {
    margin-bottom: 80px;
    width: 75%;
  }

  .header-button {
    margin-bottom: 80px;
  }

  .chosen-reason-title {
    margin-top: 200px;
  }

  .chosen-reason-button {
    margin: 40px 0 180px 0;
  }

  .cheap-plan-title {
    margin: 80px 0 20px 0;
  }

  .price-list-title {
    margin: 60px 0 10px 0;
  }

  .price-list-content {
    margin-bottom: 30px;
  }

  .parts-list-title {
    margin-top: 60px;
  }

  .parts-list {
    margin-bottom: 30px;
  }

  .flow-sheet-title {
    margin: 60px 0 10px 0;
  }

  .flow-sheet {
    margin-bottom: 80px;
  }

  .counseling-title {
    margin-bottom: 10px;
  }

  .counseling {
    margin-bottom: 80px;
  }

  .counseling-button {
    margin-bottom: 60px;
  }

  .q-and-a {
    padding-bottom: 180px;
  }

  .q-and-a-title {
    margin: 120px 0 20px 0;
  }

  .q-and-a-content {
    margin: 8px 0;
  }

  .q-and-a-content-last {
    margin: 8px 0 120px 0;
  }

  .contact-title {
    margin: 40px 0 20px 0;
  }

  .contact-content {
    margin-bottom: 100px;
  }

  .contact-button {
    margin-bottom: 20px;
  }
  .page-top {
    margin-bottom: 60px;
  }
}

/* sp */
@media(max-width:576px) {
  .header-campaign-1 {
    margin: 24px 0;
    width: 75%;
  }

  .header-campaign-2 {
    margin-bottom: 24px;
    width: 75%;
  }

  .header-button {
    margin-bottom: 24px;
  }

  .chosen-reason-title {
    margin-top: 80px;
  }

  .chosen-reason-button {
    margin: 24px 0 100px 0;
  }

  .cheap-plan-title {
    margin-top: 24px;
  }

  .price-list-title {
    margin-top: 24px;
  }

  .price-list-content {
    margin-bottom: 10px;
  }

  .parts-list-title {
    margin-top: 24px;
  }

  .parts-list {
    margin: 10px 0;
  }

  .flow-sheet-title {
    margin-top: 24px;
  }

  .flow-sheet {
    margin: 10px 0;
  }

  .counseling-title {
    margin-top: 10px;
  }

  .counseling {
    margin-bottom: 30px;
  }

  .counseling-button {
    margin-bottom: 20px;
  }

  .q-and-a {
    padding-bottom: 120px;
  }

  .q-and-a-title {
    margin: 72px 0 4px 0;
  }

  .q-and-a-content {
    margin: 4px 0;
  }

  .q-and-a-content-last {
    margin: 8px 0 60px 0;
  }

  .contact-title {
    margin: 20px 0 0 0;
  }

  .contact-content {
    margin-bottom: 40px;
  }

  .contact-button {
    margin-bottom: 20px;
  }

  .page-top {
    margin-bottom: 20px;
  }
}