html {
  scroll-behavior: smooth;
}

.button {
  transition: all 0.5s;
  cursor: pointer;
}

.button :hover{
  opacity: 0.6;
}

header {
  background: #ffffff;
  display: flex;
  align-items: center;
}

header h1 {
  color: #F570A7;
  text-shadow: 0px 4px 4px #aaaaaa;
}

nav {
  margin: 0 0 0 auto;
}

nav ul {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
}

nav li {
  margin-left: auto;
}

.page-top {
  transition: all 0.3s;
}

.page-top :hover{
  opacity: 0.5;
}

.contact {
  background-image: url(/images/contact-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}